* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: #333;
  color: white;
  height: 100vh;
  width: 100vw;
}
h1, h2{
  color: white;
}
p{
  color: rgb(218, 215, 215);
}

body, html {
  font-family: Arial, sans-serif;
}

/* ------ start-view ------ */
start-view, home-view {
  display: block;
  text-align: center;
}

start-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Quartz-zhaseni.gif/460px-Quartz-zhaseni.gif') no-repeat center center/cover;
  color: white;
  text-align: center;
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
}

.start-btn {
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #0056b3;
}

/* ------ nav-bar ------ */

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(201, 158, 19, 0.1);
  padding-left: 2%;
  height: 6%;
  width: 100%;
}

nav button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

nav button:hover {
  background-color: #555;
  transform: scale(1.1);
}

nav button:focus {
  outline: none;
  border: 2px solid #fff;
}

/* Estilo del tooltip */
nav button::after {
  content: attr(data-title); /* Usa el valor de data-title como contenido del tooltip */
  position: absolute;
  bottom: 120%; /* Posiciona el tooltip encima del botón */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Color de fondo del tooltip */
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8em;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none; /* Evita que interfiera con el cursor */
  transition: opacity 0.2s ease;
  z-index: 10;
}

/* Muestra el tooltip al hacer hover */
nav button:hover::after {
  opacity: 1;
}

/* Estilo de iconos */
.home-btn {
  color: #1e90ff;
}
.question-btn {
  color: #ff6347;
}
.app-btn {
  color: #32cd32;
}
.phone-btn {
  color: #ff8c00;
}

.navSelected{
  background-color: #555;
}

/* Animación al hacer hover */
nav button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ------ Home view ------ */
home-view{
  height: 94%;
}
/* Contenedor principal */
home-view .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

/* Barra superior con logo */
home-view .header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    position: relative;
    max-height: 50px;
    z-index: 2;
}

home-view .header img {
  width: 200px; 
  height: auto;
  position: absolute; /* Permite el control preciso del z-index */
  z-index: 3; /* Asegura que el logo quede sobre otros elementos */
}

/* Cuerpo de la página */
home-view .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px); /* Ajustar el cuerpo para que no se solape con el header */
    padding: 20px;
    z-index: 1;
    position: relative;
}

/* Contenido de la misión y visión */
home-view .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limitar el ancho */
    height: 100%;
}

/* Sección de Misión y Visión */
home-view .section {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

home-view .section h2{
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif; 
  font-size: 3em; 
  letter-spacing: 3px; 
  font-weight: bold; 
  text-transform: uppercase; 
  color: #fff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  line-height: 1.3; 
}

home-view .section p{
  text-align: justify;
  font-size: 1.2em;
}

/* Línea decorativa entre misión y visión */
.divider {
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, 
      transparent 0%, 
      rgba(201, 158, 19,0.5) 10%, 
      transparent 20%, 
      rgba(201, 158, 19, 0.5) 30%, 
      transparent 40%, 
      rgba(201, 158, 19, 0.5) 60%, 
      transparent 70%, 
      rgba(201, 158, 19, 0.5) 80%, 
      transparent 90%);
  background-size: 20px 20px; /* Repite el patrón verticalmente */
  margin: 0 20px;
}

/* ------ about-us ------ */
about-us .totalContainer{
  width: 100%;
  padding: 2%;
  padding-bottom: 0%;
  height: 94%;
}
about-us img {
  float: right;
  width: 300px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin: 0 0 10px 15px; /* Margen alrededor de la imagen */
  border-radius: 8px; /* Esto le da bordes redondeados */
}
about-us h1{
  text-align: center;
  margin-bottom: 5%;
  font-size: 2.5em;
}

about-us h2{
  margin-bottom: 2%;
  font-size: 2em;
}

about-us p {
  font-size: 1.2em;
}

about-us .zonaInforme {
  font-family: Arial, sans-serif;
  padding: 2%;
  height: 92%;
  overflow-y: auto;
}

about-us .buttonDiv{
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  align-content: center;  
  justify-content: center;
}

/* Estilos del botón */
about-us #services {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #a88512; 
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
}
                
/* Efecto hover */
about-us #services:hover {
    background-color: #c99e13; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

/* Efecto activo */
about-us #services:active {
    transform: translateY(1px); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* ------ products view ------ */

products-view h1{
  font-size: 4vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

products-view .products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 84%;
}
              
/* Estilos de cada tarjeta de producto */
products-view .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
    height: 95%;
}

products-view .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
              
products-view .product-card img {
    width: 100%;
    height: auto;
}

products-view .product-description {
    padding: 15px;
    text-align: center;
}

products-view .product-description h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

products-view .product-description p {
    font-size: 14px;
    margin-bottom: 15px;
}

products-view .payment-plans {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
    justify-content: center;
}

products-view .plan-button {
    padding: 8px 12px;
    font-size: 14px;
    color: white;
    background-color: #a88512;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

products-view .plan-button:hover {
    background-color: #c99e13;
}

/* Flechas de desplazamiento */
products-view .scroll-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a88512;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

products-view .scroll-button:hover {
  background-color: #c99e13;
}

/* ------ contact-us ------ */
contact-view .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 94%;
  width: 100%;
  gap: 5%;
}

contact-view .contact-header {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

contact-view .contact-info {
  flex-direction: column;
  width: 100%;
}

contact-view .contact-info div {
  font-size: 18px;
  color: #8a8989;
}

contact-view .contact-info div i {
  font-size: 24px;
  color: #ffffff;
}

contact-view .social-buttons {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 100%;
}

contact-view .social-buttons a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

contact-view .whatsapp {
  background-color: #25D366;
}

contact-view .whatsapp:hover {
  background-color: #1DA851;
}

contact-view .twitter {
  background-color: #1DA1F2;
}

contact-view .twitter:hover {
  background-color: #1A91DA;
}

contact-view .facebook {
  background-color: #4267B2;
}

contact-view .facebook:hover {
  background-color: #365899;
}

contact-view .instagram {
  background-color: #E1306C;
}

contact-view.instagram:hover {
  background-color: #C13584;
}